@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');

:root {
  --background: #F1F5F9;
  --foreground: #E7E7E7;
  --primary: #4F46E5;
  --secondary: #A5B4FC;
  --text: #111827;
  --button: #10B981;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0E1217;
    --foreground: #1C1F26;
    --primary: #3B82F6;
    --secondary: #6366F1;
    --text: #a1a6aa;
    --button: #14B8A6;
  }
}

body {
  color: var(--text);
  background: var(--background);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

button:active{
  transform: scale(0.95);
}

.bigText{
  background: linear-gradient(#6366F1, #e00ea1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.chatBox, .chatBoxSelf{
  position: relative;
}

.chatBoxSelf::after{
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  border: 10px solid transparent;
  border-top-color: var(--foreground);
  /* z-index: -1; */
}
.chatBox::before{
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  border: 10px solid #FFFFFF00;
  border-top-color: var(--foreground);
  z-index: -1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
